.has-bg-img {
  position: relative;
  background: url("../images/main-background.jpg") center center;
  background-size: cover;
}

h1.title {
  color: #ffffff;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.3;
}

h2.subtitle {
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
}

.hero.is-large .hero-body {
  padding-bottom: 10rem !important;
  padding-top: 10rem !important;
}

.background-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: opacity 0.3s ease-out;
  opacity: 0.5;
}

.categories-section {
  background-color: aqua;
}

.brands-section {
  background-color: violet;
}

.columns.is-mobile > .column.is-offset-one-quarter {
  margin-left: 0% !important;
}

.oc-search-bar .input-group-btn {
  width: 80px !important;
}

.oc-search-bar .btn {
  background-color: #ffff00;
  height: 45px !important;
}

.oc-search-bar {
  border: 0px !important;
}

.oc-search-bar .input-group .form-control {
  height: 45px !important;
}

/* login */

.hero.is-success {
  background-color: #f2f6fa !important;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.input.is-large,
.textarea.is-large,
.select.is-large {
  font-size: 1.2rem !important;
}

.select select {
  font-size: 1.2rem !important;
}

/* .image.is-4by3 img {
  border-radius: 10%;
} */

.categories-section {
  padding: 40px 0px;
}

/* Carousel */

.carousel .slide .legend {
  width: 100% !important;
  border-radius: 0px !important;
  bottom: 0px !important;
  left: 44% !important;
  font-size: 26px !important;
}

/* Category Page */
.container.vendor {
  margin: 50px auto;
}

.tag.discount {
  position: absolute;
  top: -25px;
  left: 190px;
  background-color: #ffdd00 !important;
  color: #000000 !important;
  font-size: 16px;
  font-weight: 600;
}

.card-content.deals {
  background-color: #340f4a;
}

.content.deals h4 {
  margin-bottom: 0px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.image.deals img {
  height: 136px;
}

.column.deals {
  padding: 1.75rem;
}

/* Title Bar */

.hero.is-info {
  background-color: #340f4a !important;
}

.tag:not(body).is-primary {
  background-color: #ffdd00 !important;
  color: #000000 !important;
  font-weight: 600;
}

/* Button Primary */

.button.is-primary {
  background-color: #ffdd00 !important;
  border-color: transparent;
  color: #000000 !important;
}

/*Reveal Code Button */

.button.revealcode {
  background-color: transparent !important;
  color: #ffdd00 !important;
  font-weight: 600;
}

/*Modal*/

.modal-card-title {
  text-align: center;
}

.content.deals-modal h4 {
  color: #340f4a;
  font-weight: 600;
  text-transform: uppercase;
}

/* blogPage */
.columns .status {
  background-color: #f7f7f7;
  margin: 0px;
}

.content.blog h4 {
  font-weight: 600;
  color: #340f4a;
}

.icon.is-large.status {
  height: 2rem;
  font-size: 20px;
  color: #340f4a;
}

.card-content.corner{
  height: 200px;
  padding: 1rem;
}

/* Blog Details */

.title.post {
  color: #340f4a;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.3;
}

.content figure.post-image {
  margin-left: 0px;
  margin-right: 0px;
}
