.navbar-default {
  background-color: #f2f2f2;
}

.navbar {
  min-height: 100px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-nav {
  margin-top: 30px;
  margin-left: 30px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-item {
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
}

a.navbar-item:hover {
  background-color: #ffffff;
}

.navbar-item img {
  max-height: 100px;
}

.nav > li > a {
  padding: 10px 25px;
}

.logo {
  width: 300px;
  height: 100px;
}


/* footer */

.footer{
  padding: 2rem 1.5rem 2rem;
}
