.box.comment {
  border-radius: 0px;
  padding: 1rem;
  background-color: #f7f7f7;
}

.box.comment-post {
  border-radius: 0px;
  padding: 1rem;
}

.comment-text {
  font-size: 16px;
  line-height: 28px;
}

.column .comment {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.comment-time {
  color: #bbbbbb;
}

.button.post {
  position: absolute;
  top: 0;
  right: 0;
}
